<div class=" content">
  <h2>View and edit your details</h2>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
    <div class="table-row">
      <label for="username">Username</label>
      <p><input id="username" type="text" formControlName="username"></p>
    </div>

    <div class="table-row">
      <label for="phone">Phone number</label>
      <p><input id="phone" type="text" formControlName="phone"></p>
    </div>

    <div class="table-row">
      <label for="firstname">First name</label>
      <p><input id="firstname" type="text" formControlName="firstname"></p>
    </div>

    <div class="table-row">
      <label for="lastname">Last name</label>
      <p><input id="lastname" type="text" formControlName="lastname"></p>
    </div>

    <div class="table-row">
      <label for="password">New Password</label>
      <p><input id="password" type="password" formControlName="password" autocomplete="off"></p>
    </div>

    <div class="table-row">
      <label for="city">City</label>
      <p><input id="city" type="text" formControlName="city"></p>
    </div>

    <div class="table-row">
      <label for="country">Country</label>
      <p><input id="country" type="text" formControlName="country"></p>
    </div>
    <div class="table-row">
      <label for="active" style="">Active</label>
      <input type="checkbox" id="active" formControlName="active" [checked] = "isEnabled" ng-true-value="1" ng-false-value="0">

    </div>
    <button class="btn" type="submit">Save</button>
  </form>
  <p *ngIf="error != undefined" style="white-space:normal;" [innerHTML]="error"></p>
</div>
