form {
  display: table;
}

.table-row {
  display: table-row;
}
.table-row * {
  display: table-cell;
  padding: 0 5px;
  margin: 5px 20px;
}
input{
  width: 30vw;
  max-width: 15em;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #00bbff;
  color: white;
}
