label {
  width: 10%;
}
.cont{
  align-content: center;
  margin-top: 20vh;
  padding: 5vmin;
  border: 1px solid #00bbff  ;
  display: inline-block
}
input{
  width: 100%;
  max-width: 25em;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #00bbff;
  color: white;
  font-size: 16px !important;
  padding: 2vmin;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  text-decoration-color: white;
  -webkit-text-fill-color: white;
  -webkit-font-feature-settings: revert;
  -webkit-autofill::first-line {font-size: 16px}
}
