<div style="text-align: center">
<div class=" cont">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div>
      <input id="username" type="text" formControlName="username" placeholder="Username">
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password">
    </div>
    <div>
      <input id="firstname" type="text" formControlName="firstname" placeholder="First Name">
    </div>
    <div>
      <input id="lastname" type="text" formControlName="lastname" placeholder="Last Name">
    </div>
    <div>
      <input id="phonenumber" type="number" formControlName="phonenumber" placeholder="Phone Number">
    </div>
    <div>
      <input id="country" type="text" formControlName="country" placeholder="Country">
    </div>
    <div>
      <input id="city" type="text" formControlName="city" placeholder="City">
    </div>

    <p *ngIf="loginservice.error != undefined" style="white-space:normal;" [innerHTML]="loginservice.error"></p>
    <button style="margin-right: 20px;" class="btn" type="submit">Submit</button>
    <button class="btn" type="button" routerLink="/login">To login</button>

  </form>
</div>
</div>
