<div class=" content">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div>
      <label for="username">
        Username
      </label>
      <input id="username" type="text" formControlName="username">
    </div>

    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div *ngIf="loginservice.error != undefined " style="color:red">{{loginservice.error}}</div>
    <button class="button" type="submit">Login</button>
    <button type="button" routerLink="/register">Register</button>

  </form>
</div>
