<div style="text-align: center">
<div class="cont">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div>
      <input id="username" type="text" formControlName="username" placeholder="Username" >
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password">
    </div>
    <p *ngIf="loginservice.error != undefined" style="white-space:normal;" [innerHTML]="loginservice.error"></p>
    <button class="btn" type="submit">Login</button>
    <button type="button" class="btn" routerLink="/register">Register</button>

  </form>
</div>
</div>
