
<h1 style="text-align: center">My Matches</h1><br><br>
<p *ngIf="!matches" style="font-size: 2vmin;text-align: center;">No matches, yet. Make sure your account is not set to inactive!</p>
<p *ngIf="matches.length == 0" style="font-size: 2vmin;text-align: center;">No matches, yet. Make sure your account is not set to inactive!</p>
<div class="row">
  <div *ngFor="let match of matches" class="col">
    <div class="col1">
      <ul style="width: 100%; height: 100%;padding-left: 1vw">
        <li class="li">
          <p style="white-space: nowrap; font-size: calc(1vmin + 10px)">{{match.naam}}</p><br>
        </li>
        <li class="li">
          <p style="white-space: nowrap">Phone Number : <br>{{match.phone}}<br></p>
        </li>
        <li class="li">
          <p><br>Location: <br> {{match.city}}, {{match.country}}</p>
        </li>
      </ul>
    </div>
    <div class="col2">
        <ul style="width: 100%; height: 100%">
          <li *ngFor="let hobby of match.hobbySet">
            <p [ngClass]="{'positive' : sameHobby(hobby,match)}">{{hobby.name}}</p>
          </li>
        </ul>
    </div>
  </div>
</div>
