<h1>My Matches</h1><br><br>

<div class="row">
  <div *ngFor="let match of matches" class="col">
    <div class="col1">
      <ul>
        <li>
          <p style="white-space: nowrap">{{match.naam}}</p><br>
        </li>
        <li>
          <span style="white-space: nowrap">Phone Number :</span> <br>{{match.phone}}<br>
        </li>
        <li>
          <br>Location: <br> {{match.city}}, {{match.country}}
        </li>
      </ul>
    </div>
    <div class="col1">
      <p>Hobbies:</p>
      <!--        <ul>-->
      <!--          <li *ngFor="let hobby of hobbies">-->
      <!--            <p>{{hobby.naam}}</p>-->
      <!--          </li>-->
      <!--        </ul>-->
    </div>
  </div>
</div>
