.li{
  list-style: none;
  margin-bottom: 10px;
  list-style-position:inside;
}

.row {
  display: flex; /* equal height of the children */
  margin-left: 10vmin;
  margin-right: 10vmin;
}

.col {
  flex: 1; /* additionally, equal width */
  border: 1px solid  #00bbff;
  display: flex;
  margin: 2vmin;
  min-height: 35vh;
}
.col1 {
  display: flex;
  flex: 1; /* additionally, equal width */
  padding: 1em;
  padding-right: 5vmin;
}
p::first-letter{
  text-transform: capitalize;
}

