* {
  margin: 0;
  font-size: 2.5vmin;
  font-family: Arial, sans-serif;
}
header{
  height: 15vmin;
  background-color: #333;
  border-bottom: 2px black solid;
  width: 100vw;
}
img{
  display: table;
  margin: auto;
}

.navbar{
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align:center;
  border-top: 2px black solid;

}

.navbar a{
  display: inline-block;
  color: #f2f2f2;
  padding: 3vh 3vw;
  text-decoration: none;
  font-size: 5vmin;
}
.navbar a:hover {
  background: #f1f1f1;
  color: black;
}
#notifications{
  width: 15vmin;
  height: 15vmin;
  outline: none;
  border-top: solid black 1px;
  background-size: 100%;
  background-image: url("../assets/bell.png");
  margin: 0 auto;
  background-color: #f1f1f1;
}

.logout{
  background-color: #f1f1f1;
  width: 6vh;
  height: 6vh;
  box-sizing: border-box;
  float: right;
  margin-left: 0;
  text-align: center;
  border: solid black;

}


