
<div style="color: white" class=" content">
  <h1>Welcome to meetup!</h1><br><br>
  <p>Here you can find new friends based on your hobbies.</p><br>
  <br>
  <p>Follow these steps to start making friends:</p>
  <ol style="">
    <li><p>Navigate to "My hobbies"</p></li>
    <li><p>Add hobbies to your profile</p></li>
    <li><p>Navigate to "Matches"</p></li>
    <li><p>There you will see the contact-information of users, who share hobbies with you</p></li>
  </ol>
  <br>
  <br><p>Have fun meeting up with new people!</p>
  <br><br><p style="font-size: 10px;font-style: italic">Had enough of our app? We cant imagine! <br> But if you made up your mind, you can set your acccount to inactive in the acount settings page. This way you wont be matched with other people.</p>
</div>
