<div class=" content">

  Welcome to the meetup application!<br/>
    With this application it is possible to find new friends based on your hobbies.<br/>
  <br/>
    The way you do this is:
  <br/>
    - Navigate to "My hobbies".
  <br/>
    - Add hobbies to your profile.
  <br/>
    - Navigate to "Matches".
  <br/>
    - There you will see the contact-information
  <br/>
   &nbsp;&nbsp;&nbsp;  of users, who share hobbies with you.
  <br/>
  <br/>Have fun meeting up with new people!




</div>
